.home-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.home-top {
    position: relative;
    width: 100%;
    height:20%;
}

.home-top h1 {
    position: absolute;
    font-family: "Courier";
    font-size: 5.7vw;
    left:7vw;
    top: 1.5vh;
}

.nav {
    width: 100%;
    height: 60%;
    position: relative
}

.nav ul {
    margin-top: 10vh;
    position: relative;
    float: right;
    right: 1.2em;
    list-style: none;
    display:inline-block;
    vertical-align: bottom;
}

.nav li a {
    float: right;
    font-size: 9vw;
    margin-top: 4.4vh;
    font-family: "Courier";
}

.sm {
    position: relative;
    width:100%;
}

.sm ul {
    bottom: -6vh;
    position: relative;
}   

.sm ul li {
    position: relative;
    list-style: none;
    margin-right: 5.3vw;
    display: inline-block;
}

.sm ul li div object {
    width:9.5vw;
}

@media only screen and (min-width: 980px) {
    .home-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home-container h1 {
        position: absolute;
        font-family: "Courier";
        font-size: 3.5em;
        /*margin-top: 1.6em; */
        /*left: 1.6em;*/
    }
    .nav {  
        width: 20%;
        height: 10%;
        position: absolute;
    }
    .nav ul {
        float: right;
        list-style: none;
        display:inline-block;
        vertical-align: middle;

    }

    .nav li a {
        float: right;
        /*font-size: 6em;*/
        /*margin-top: 0.6em;*/
        font-family: "Courier";
    }

    .sm {
        position: relative;
        width:80%;
        margin: auto;
        /*bottom: -4em;*/
    }

    .sm ul {
        position: relative;
    }   

    .sm ul li {
        position: relative;
        list-style: none;
        /*margin-right: 4em;*/
        display: inline-block;
    }

    .sm ul li div object {
        /*width: 7em*/
    }
}

/* .menu {
    width: 200px;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
} */

/* nav {
    margin-top: 25px;
}

nav li {
    list-style-type: none;
    font-size: 14px;
    font-family: Courier;
} */

a {
    color: black;
    text-decoration: none;
}   

a:hover {
    text-decoration: line-through;
    outline: none;
}

/*.container {
    height: 100%;
    margin: 50px 0 0 200px;
    background-color: #fff;
}

.scroll {
}

.picture-container {
    height:100%;
    width: 8000px;
}

.picture-holder {
    height: 100%;
}

.picture {
    float: left;
    margin-right: 20px;
}

img {
    height:500px;
}*/
/*.boxinbox {
    height:500px;
}*/


/*body {
    margin: 60px auto;
    width: 70%;
}*/
/*nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}*/
