body {
	background: white;
}

.picture-container {
	top:0;
	left:0;
    width:100%;
    position: absolute;
    /*list-style: none;*/
	overflow: hidden;
}

.picture-holder {
	/*position: relative;*/
	/*width: 100%;*/
	/*margin-top: 0.9vh;*/
}

/*.picture {
	position: relative;
	width: 100%;
}*/

img {
	margin-top: 0.9vh;
    width:100%;
}