body {
	background: white;
}

.picture-container {
	left:0;
	position: absolute;
    /*width:100%;*/
	overflow: hidden;
}

.picture-holder {
	/*position: relative;*/
	/*width: 100%;*/
	/*margin-top: 0.9vh;*/
}

.picture {
	/*position: relative;*/
	/*width: 100%;*/
}

img {
	margin-top: 0.9vh;
    width:100%;
}