.post-container {
	top: 40px;
	margin:1em;
	position: relative;
}

.post-top h1 {
	font-family: "Helvetica Neue";
}

.post-top p {
	font-family: "Courier";
	font-size: 12px;
}

.post-body p {
	text-indent: 30px;
	font-family: 'Merriweather', serif;
	font-size: 14px;
	line-height: 140%;
}
