body {
  background: #fbfbfb;
  color: #777;
  -webkit-user-select: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #777;
}
.proj-container {
	position: relative;
	height:100%;
	width:100%;
  top:60px;
}

h2 {
	position: relative;
	margin: 0.2em;
	text-align: center;
	font-size: 8vw;
  /*font-family: "Helvetica Neue";*/
	/*font-family: "Lustria";*/
  font-family: 'Montserrat';
}

.proj-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  -webkit-padding-start: 0;
}

.card__item {
	padding:3vw;
	width: 100%;
}

@media(min-width: 56rem) {
	.card__item {
		padding: 1rem;
		width: 30%;
	}
}

.card__title {
	font-family: 'Montserrat';
	color: @gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
	text-transform: uppercase;
}

.card {
  background-color: white;
  border-radius: 0.1rem;
  /*box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);*/
  display: flex;
  flex-direction: column;
  /*min-height: 150px;*/
  overflow: hidden;
}

/*.card__image::before {
	content: "";
  display: block;
  padding-top: 56.25%; // 16:9 aspect ratio
}

.card__image:hover {
  filter: contrast(100%);
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
	display: block;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}*/

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__lang {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  -webkit-padding-start: 0px;
  /*color: inherit;*/
  /*margin-top: 5px;*/
  font-size: 10px;
}

.card__text {
  font-family: 'Merriweather', serif;
  font-size: 12px;
}

.card__tag {
  margin-top: 4px;
  border-radius: 40px;
  color: white;
  padding: 4px;
}

.card__separator {
  margin-top: 10px;
  width:35px;
  height:3px;
  background:#777;
  border:none;
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.dreams {
  background-image: url(http://c1.staticflickr.com/1/558/18922282545_90e37d5a51_z.jpg);
}

.retail {
  background-image: url(http://www.georgetowner.com/media/images/derivatives/article_Screen_shot_2015-08-03_at_5.47.05_PM.png)
}

.python span {
  background-color: rgba(0, 194, 255, 0.72);
  border-radius: 40px;
  color: white;
  padding: 4px;
}

.ocaml span {
  background-color: rgba(255, 188, 0, 0.76);
  border-radius: 40px;
  color: white;
  padding: 4px;
}

.java span {
  background-color: rgba(30, 202, 115, 0.96);
  border-radius: 40px;
  color: white;
  padding: 4px;
}

.prolog span {
  background-color: rgba(30, 83, 202, 0.77);
  border-radius: 40px;
  color: white;
  padding: 4px;
}

.scheme span {
  background-color: rgba(234, 13, 13, 0.75);
  border-radius: 40px;
  color: white;
  padding: 4px;
}


.c span {
  background-color: rgba(88, 13, 234, 0.59);
  border-radius: 40px;
  color: white;
  padding: 5px;
}
