---
layout: default
title: blog
---
<link rel="stylesheet" type="text/css" href="/css/blog.css">
<div class="blog-container animsition">
	<h1>{{ page.title }}</h1>
	<ul class="bp-list">
	  {% for post in site.posts %}
	  	{% if post.categories contains 'blogpost' %}
	   	 <!-- <li><span>{{ post.date | date_to_string }}</span> <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li> -->
		<li class="bp-row">
			<a href="{{ post.url }}" title="{{ post.title }}" class="animsition-link" >{{ post.title }}</a>
			<div class="row-right">
				<p>{{ post.date | date_to_string }}</p>
			</div>
		</li>
	   	{% endif %}
	  {% endfor %}
	</ul>
</div>
