---
layout: page
title: Proj
---

<link rel="stylesheet" type="text/css" href="/css/proj.css">
<div class="proj-container animsition">
	<h2>projects</h2>
	<ul class="proj-cards">
		{% for post in site.posts %}
			{% if post.categories contains 'project' %}
				<li class="card__item">
					<a class="card" href="{{ post.url }}">
			      <div class="card__content">
			        <div class="card__title">{{ post.title }}</div>
			        <p class="card__text">{{ post.description }}</p>
              {% for language in post.languages %}
                <ul class="card__lang">
                  <li class="{{ language }}">{{ language }}</li>
                </ul>
              {% endfor %}
			        <!-- <button class="btn btn--block card__btn">Button</button> -->
			      </div>
		    	</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
