
<!DOCTYPE html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- animsition.css -->
			<link rel="stylesheet" href="/css/animsition.min.css">
			<!-- jQuery -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<!-- animsition.js -->
			<script src="/js/animsition.min.js"></script>
			<!-- my css -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

		</head>
		<body>
			{{ content }}
		</body>
	</html>
