body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
 font-family: "Ageo";
 src: local("Ageo"),
  url("./fonts/ageo/Ageo.otf") format("truetype");
 font-weight: bold;
}

@font-face {
 font-family: "August";
 src: local("August-Bold"),
  url("./fonts/august/August-Bold.ttf") format("truetype");
}

@font-face {
 font-family: "Strasse";
 src: local("Strasse"),
  url("./fonts/strasse/Strasse.ttf") format("truetype");
}

@font-face {
 font-family: "PlayfairDisplay";
 src: local("PlayfairDisplay"),
  url("./fonts/playfairdisplay/PlayfairDisplay.ttf") format("truetype");
}


@font-face {
 font-family: "Azonix";
 src: local("Azonix"),
  url("./fonts/azonix/Azonix.otf") format("truetype");
}

@font-face {
 font-family: "Leyton";
 src: local("Leyton"),
  url("./fonts/leyton/Leyton-Bold.otf") format("truetype");
}


@font-face {
 font-family: "Zilla Slab";
 src: local("Zilla Slab"),
  url("./fonts/zillaslab/ZillaSlab-Regular.ttf") format("truetype");
}
